:root{
    color: red;
    color: black;
    color: white;
    color: lightgray;
}

body{
    font-style: ;
    color:black;
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    grid-area: ;
}

.logo_pic {
    height: 9em;
    width: 10em;
}

header{

}

ul{
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    float: left;
    padding-left: 0.8em;
}

li :hover{
    color: red;
}

main{

}

footer{
}