:root{
    color: red;
    color: black;
    color: white;
    color: lightgray;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Sen', sans-serif;
    color:black;
    margin: 0;
    
}

.logo_pic {
    height: 4em;
    width: 6em;
    margin-left: 1em;
    margin-top: 0.5em;
}

nav{
    margin-bottom: 0.5em;
    margin-left: -2.4em;
    margin-top: -0.7em;
}

ul{
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    float: left;
    padding-left: 1em;
    padding-top: 0.5em;
}

li :hover{
    color: red;
}

.banner{
    width:100%;
    height: 10em;
    background-image: url(./assets/banner1.0.png);
}


main{
    margin-left: 0.5em;
}

h1{
    font-size: 19px;
}

h2{
    font-size: 18px;
    margin-top: 2em;
}

.aanbevelingen{
    display: flex;
    height: 14em;
    width: 100%;
    
}


.boeken_info{
    margin-left: 2em;
}


.titel_boek{
    size: 16px;
}


.boek_img{
    height: 9em;
    width: 6em;
}

.schrijver{
    font-size: 13px;
    margin-top: 0.3em;
}

.aanbevelingen i {
 padding-right: 2.3em;
}

.aanbevelingen i:hover{
    color: red;
}


.favorite_boeken{
    display: flex;
    height: 15em;
    width: 100%;
    margin-left: 2em;
   
}

.favorite_lijst{
    margin-right: 2em;
}

.fav_boek_img{
    height: 9em;
    width: 6em;
}



footer{
    background-color: black;
}


/* collectie.html css */


 p {
    font-size: 16px;
}

.new_boeken{
    display: flex;
    height: 15em;
    width: 100%;
}

.new_boeken_info{
    margin-left: 2em;
}

.new_boeken_img {
    height: 9em;
    width: 6em;
}
.new_boeken_titel{

}
